/* base */
html{
  text-decoration: none;
  color: #333;
  font-family: TsukuA-400;
}
a{
  text-decoration: none;
}

.contents{
  width: 960px;
  margin: 0 auto;
}

/* //base */

/* header */
.header__top{
  font-size: 12px;
  background-color: #f3c9cc;
  line-height: 24px;
  text-align: center;
  margin-bottom: 30px;
}
.header__logo{
  text-align: center;
  margin-bottom: 30px;
}
.header__logo img{
  width: 500px;
  height: 75px;
}
.header__nav{
  display: flex;
  margin-bottom: 24px;
}
.header__nav-item{
  border-right: 1px #FF9999 solid;
}
.header__nav-item:first-child{
  border-left: 1px #FF9999 solid;
}
.header__nav-item img{
  width: 136px;
  height: 80px;
}
.header__nav-item:hover{
  background-color: #f3c9cc;
  transition: .1s;
}

/* //header */

/* fv */
.fv{
  width: 100%;
}
.fv__slide{
  display: flex;
  width: 100%;
  overflow: hidden;
}

.fv__btn-pre{
  background :transparent;
  border: none;
}
.fv__btn-nex{
  background :transparent;
  border: none;
}
.arrow_l {
  position: absolute;
  top: 60%;
  left: 2%;
  display: inline-block;
  padding-left: 20px;
  color: #FF9999;
  text-decoration: none;
}
.arrow_l:before {
  content: '';
  width: 18px;
  height: 18px;
  border: 0;
  border-top: solid 7px #FF9999;
  border-left: solid 7px #FF9999;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -4px;
  transform: rotate(-45deg);
}
.arrow_r {
  position: absolute;
  top: 60%;
  right: 2%;
  display: inline-block;
  padding-left: 20px;
  color: #333;
  text-decoration: none;
}
.arrow_r:before {
  content: '';
  width: 18px;
  height: 18px;
  border: 0;
  border-top: solid 7px #FF9999;
  border-right: solid 7px #FF9999;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -4px;
  transform: rotate(45deg);
}

.fv__btn-dot{
  display: flex;
  justify-content: center;
  margin-top: -15px;
}
.fv__btn-dot-item{
  text-indent: -9999px;
  width: 7px;
  height: 7px;
  background-color: transparent;
  border: 2px solid #FF9999;
  border-radius: 50%;
  margin-left: 8px;
}

/* //fv */




